:root {
  --white-color: #fff;
  --team-color: #f5f4fa;
  --black-color: #000;
  --brand-color: #212121;
  --link-color: #2196f3;
  --contact-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --bg-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
}

li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

.nav-links li a {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-decoration: none;
}

.nav-links li a:hover,
.logo-blue,
.nav-links li a:focus,
.contact-links li a:hover,
.contact-links li a:focus {
  color: var(--link-color);
}

.contact li a {
  color: var(--contact-color);
}

.main-order h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.main-order button {
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--link-color);
  color: var(--white-color);
}

.main-examples {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.main-examples h3 {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--brand-color);
}

.main-examples p {
  font-weight: 400;
  line-height: 1.7;
  color: var(--contact-color);
}

.main-info h2,
.main-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.main-team {
  background-color: var(--team-color);
}

.main-team > figcaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.main-team .main-team-name {
  font-weight: 400;
  color: var(--contact-color);
}

footer,
.main-order {
  background-color: var(--bg-color);
}

footer p {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

footer p:first-child {
  color: var(--white-color);
}

footer p a {
  color: var(--footer-contact-color);
}

footer p a:hover,
footer p a:focus {
  background-color: var(--link-color);
}

.footer-tel {
  text-decoration: none;
}

.main-buttons button {
  border-radius: 4px;
  background-color: var(--team-color);
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-buttons button:active,
.main-buttons button:hover {
  border-radius: 4px;
  background-color: var(--link-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
